/* css styles */
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css");

.software::before {
  font-family: bootstrap-icons;
  content: "\f2c6";
  margin-left: 0.25em;
  margin-right: 0.25em;
}

.preprint::before {
  font-family: bootstrap-icons;
  content: "\f446";
  margin-left: 0.25em;
  margin-right: 0.25em;
}

.journal::before {
  font-family: bootstrap-icons;
  content: "\f43e";
  margin-left: 0.25em;
  margin-right: 0.25em;
}

.thesis::before {
  font-family: bootstrap-icons;
  content: "\f43c";
  margin-left: 0.25em;
  margin-right: 0.25em;
}

.conference::before {
  font-family: bootstrap-icons;
  content: "\f484";
  margin-left: 0.25em;
  margin-right: 0.25em;
}

/* from https://github.com/andrewheiss/ath-quarto/blob/bcf18e1aaa889242c45fbcb17380a72a0be5285a/cv/index.qmd */
.embed-container {
    position: relative;
    padding-bottom: 129%;
    height: 0;
    overflow: hidden;
    max-width: 100%;
}

.embed-container iframe,
.embed-container object,
.embed-container embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
